* {
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    list-style: none;
}

body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

}



/* HEADER Y FOOTER */

header a {
    padding: 45%;
}

header p {
    background-color: rgb(223, 101, 101);
    text-align: center;
    font-size: 25px;
}

a {
    text-decoration: none;
}

.cabecera {

    height: 30%;
    width: 100%;
    background-color: rgb(109, 9, 9);


}

.cabecera__links {

    background-color: rgb(40, 41, 42);
    padding: 1%;
    text-align: center;
}

nav ul li input {
    padding: 5px;
    width: 180px;
}

.cabecera__links li a {
    color: #f6f0f0
}

.cabecera__links li {
    display: inline-block;
    margin-left: 50px;
}



footer {

    width: 100%;
    color: rgb(241, 228, 228);
    background-color: rgb(40, 41, 42);
    text-align: center;
    bottom: 0%;

}

/* Contenido principal index */
.grid__principal {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 30px;
    padding: 30px;

}

.imagenes1 {
    grid-column: 1/-1;

}

.imagenes1 img {
    width: 100%;
}

.imagenes2 img {
    width: 100%;
}

.imagenes3 img {
    width: 100%;
}

.imagenes4 img {
    width: 100%;
}

.imagenes5 img {
    width: 100%;
}

.imagenes6 img {
    width: 100%;
}

.parrafo__principal {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 0px;
    font-size: 40px;
}
.grid__imagenes:hover{
    filter: 2;
    transform: scale(1.05);  
}
/* FORMULARIO PAG CONTACTOS */
.titulo_contacto {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 30px;
    font-size: 20px;
}

form {
    background-color: rgb(133, 43, 43);
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;

}

input {
    width: 100px;
    margin-bottom: 10px;
    padding: 2px;
    box-sizing: border-box;
    font-size: 15px;
}

button{
    border: none;
    padding: 20px;
    background-color: rgb(255, 253, 253);
    cursor: pointer;
    border-radius: 05px;
    border-bottom: 03px solid black;
    transition: all 0.8s;
    
    
}
button:hover{
    background-color: rgb(5, 5, 5);
    border-bottom: 06px solid rgb(250, 250, 250); 
    color: #f6f0f0;
   
}

/* SECCION HOMBRE */
.contenedorcajas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.titulo__hombre {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 30px;
    font-size: 30px;
}

.caja img {
    width: 300px;
    height: 280px;
    border-radius: 20px;


}

.caja {
    margin: 10px;

}

.caja p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.pagina {
    background-color: rgb(224, 217, 217);
}

/* Marcas */
.titulo__marcas {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 30px;
    font-size: 40px;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border border-radius: 4px;
    background-color: rgb(226, 216, 216);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.grid-item:hover{
    filter: 2;
    transform: scale(1.15);
}


.grid-conteiner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 30px;
    padding: 20px;
}

.grid-item img {
    width: 200px;
}
/* boostrap */
.d-block{
    height: 600px;
}
div img{
    
}
.pblanco{
    background-color: #f6f0f0;
}
.imgboostra{
    width: 650px;
    margin: 15px;
}


@media (max-width:750px) {
    .parrafo__principal {
        width: 100%;
        text-align: center;
        margin: 5px;
        font-size: 30px;
    }

    header a {
        padding: 1%;

    }

    .cabecera__links li {
        display: contents
    }

    .imagenes1 img {
        width: 100%;
    }

    .titulo__marcas {
        width: 100%;
        text-align: center;
        margin: 5px;
        font-size: 30px;
    }

    .titulo_contacto {
        width: 100%;
        text-align: center;
        margin: 0px;
        font-size: 20px;
    }

    form {
        background-color: rgb(133, 43, 43);
        width: 100%;
        margin: auto;
        padding: 10px 20px;
        box-sizing: border-box;
        margin-top: 20px;

    }
}