.d-block{
    object-fit: cover;
   
}
.pblanco{
    background-color: #f6f0f0;
    text-align: center;
  
}
.imagenboos{
    height: 545px;
    object-fit: cover;
}
.form-select{
   width: 250px;
   background-color: rgb(211, 189, 189);
}
.filtros{
    display: flex;
    justify-content: space-around;
    
    
}
.card{
    margin: 55px; 
    background-color: rgb(164, 142, 142);
    .card-body{
        background-color: rgb(207, 175, 175);
    }
        .btn{
          background-color: #b93d3d;
          
        }
    
}
