.d-block{
    height: 600px;
    margin: 0%;
}
.pblanco{
    background-color: #f6f0f0;
    text-align: center;
  
}
.imagenboos{
    height: 545px;
}
.form-select{
   width: 250px;
  margin: 40px;
}
.card{
    margin: 100px;  
    background-color: rgb(164, 142, 142);
    .card-body{
        background-color: rgb(207, 175, 175);
    }
}