.cabecera {

    height: 30%;
    width: 100%;
    background-color: map-get($colores, color-header);
    .logo{
        width: 125px;
    }
    .cabecera__links {

        background-color: rgb(40, 41, 42);
        padding: 1%;
        text-align: center;
    }
    
    li {
        display: inline-block;
        margin-left: 50px;
        color: #f6f0f0;
    }
    a {
        padding: 45%;
        text-decoration: none;
        
    }

    p {
        background-color: rgb(238, 238, 238);
        text-align: center;
        font-size: 25px;
        width: 100%;
    }
    input {
        padding: 5px;
        width: 180px;
    }
   
}