.titulo__marcas {
    @include titulos($font:50px)
}
.grid-conteiner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 30px;
    padding: 20px;
    .grid-item {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: rgb(226, 216, 216);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    
    }
    .grid-item img {
        width: 200px;
        &:hover{
            filter: 2;
            transform: scale(1.15);
        }
    }
}